/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(/projects/Poison-Snake/neon.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameTitle {
    font-size: 36px;
    font-weight: bold;
    /* starting color */
    color: red; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 360px;
    background-color: #000;
    border: 5px solid white;
    position: relative;
}

#gameCanvas {
    background-color: #333;
    width: 100%;
    height: 100%;
}

#countdown {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: none;
}

#message h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

#message button {
    padding: 10px 20px;
    background: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#message button:hover {
    background: #ff2929;
}
